/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ----------------Common styles---------------- */

.page {
  max-width: 1440px;
  min-width: 1100px;
  margin: 0 auto;
}

.container {
  padding-left: 140px;
  padding-right: 140px;
}

.title {
  margin: 0;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 700;
}

.btn {
  display: inline-block;
  width: 33px;
  height: 33px;
}

.paragraph {
  font-family: "Montserrat";
  margin: 0;
  line-height: 1.4;
}
/* ----------------Header styles---------------- */

.header {
  padding-top: 47px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: #f0f5fb;
}

.header__background {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 50px;
  left: 29px;
  width: 1385px;
  height: 652px;
  background: url(../images/icons.svg) no-repeat;
  background-size: contain;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  display: flex;
  list-style: none;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  font-family: "Montserrat";
  text-decoration: none;
  line-height: 20px;
  color: black;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 112px;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__schedule {
  padding-right: 40px;
  text-decoration: underline;
  font-family: "Montserrat";
  line-height: 20px;
}

.contact {
  padding-top: 7px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
}

.contact__icon {
  padding-right: 16px;
  background: url(../images/phone.svg) no-repeat left center;
  filter: drop-shadow(0px 3px 2px rgba(245, 134, 86, 0.5));
}

/* ----------------Hero styles---------------- */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 740px;
  background-color: #f0f5fb;
}

.hero__title {
  z-index: 1;
  margin-top: 105px;
  margin-bottom: 18px;
}

.hero__subtitle {
  z-index: 1;
  width: 621px;
  text-align: center;
  font-size: 18px;
}

.hero__pizza {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  left: 252px;
  bottom: -99px;
  width: 996px;
  height: 590px;
  background: url(../images/pizza.png) no-repeat bottom center;
  background-size: cover;
}

.hero__flour {
  position: absolute;
  pointer-events: none;
  left: 112px;
  bottom: 0;
  width: 719px;
  height: 772px;
  background: url(../images/flour.png) no-repeat top;
  mix-blend-mode: screen;
  background-size: cover;
}

.hero__offer {
  position: absolute;
  z-index: 2;
  top: 342px;
  right: 141px;
  width: 415px;
  height: 104px;
  background: url(../images/arrow.svg) no-repeat top 26px left 44px;
}

.hero__offer-text {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 200px;
  text-align: right;
}

.hero__accent {
  font-weight: 700;
  color: #f87848;
}

.hero__btn {
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../images/btn.svg) no-repeat left center;
  filter: drop-shadow(0px 3px 4px rgba(205, 169, 41, 0.26));
}

.dishes {
  height: 2000px;
}

/* ----------------Dishes styles---------------- */

.dishes {
  padding-top: 140px;
  text-align: center;
}

.dishes__tabs {
  padding-top: 49px;
}

.ui-widget-content {
  border: none;
}

.ui-tabs-nav {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  width: 829px;
  list-style: none;
}

.ui-tabs-anchor {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  width: 135px;
  border-radius: 45px;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
  color: black;
  background-color: #eceef6;
}

.ui-state-active .ui-tabs-anchor {
  background-color: #59aaf1;
  color: white;
}

.ui-state-hover .ui-tabs-anchor {
  background-color: #59aaf1;
  color: white;
}


.ui-state-active, .ui-state-focus {
  outline: transparent;
}

.dishes__table {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.dishes__cell {
}

.cell__pic {
  width: 170px;
}
.cell {
  width: 260px;
  font-family: "Montserrat";
}

.cell__title-wrap {
  display: flex;
  justify-content: space-between;
}

.cell__title {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
}
.cell__subtitle {
  margin: 0;
}
.cell__size {
  font-size: 12px;
}
.cell__price {
}
.cell__btn {
}