/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ----------------Common styles---------------- */

.page {
  max-width: 1440px;
  min-width: 1100px;
  margin: 0 auto;
}

.container {
  padding-left: 140px;
  padding-right: 140px;
}

.title {
  margin: 0;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 700;
}
/* ----------------Header styles---------------- */

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 25px;
  background-color: #f0f5fb;
}

.header__nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  list-style: none;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  font-family: "Montserrat";
  text-decoration: none;
  line-height: 20px;
  color: black;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 112px;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__schedule {
  padding-right: 40px;
  text-decoration: underline;
  font-family: "Montserrat";
  line-height: 20px;
}

.contact {
  display: flex;
  align-items: center;
  /* padding-left: 55px; */
  padding-top: 7px;
  padding-bottom: 6px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
}

.contact__icon {
  display: inline-block;
  padding-right: 16px;
  width: 33px;
  height: 33px;
  background: url(../images/phone.svg) no-repeat left center;
  filter: drop-shadow(0px 3px 5px rgba(245, 134, 86, 0.5));
}

/* ----------------Hero styles---------------- */

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 740px;
  background-color: #f0f5fb;
}

.hero__title {
  margin-top: 105px;
  margin-bottom: 18px;
}

.hero__subtitle {
  width: 621px;
  text-align: center;
  font-size: 18px;
}

.paragraph {
  font-family: "Montserrat";
  margin: 0;
}

.hero__pizza {
  position: absolute;
  z-index: 2;
  left: 252px;
  bottom: -109px;
  width: 996px;
  height: 590px;
  background:url(../images/pizza.png) no-repeat;
  background-size: cover;
}

.hero__flour {
  position: absolute;
  z-index: 1;
  left: 112px;
  bottom: -109px;
  width: 719px;
  height: 772px;
  background:url(../images/мука.png) no-repeat;
  mix-blend-mode: screen;
  background-size: cover;
}

.hero__offer {
}

.dishes {
  height: 2000px;
}
