/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ----------------Common styles---------------- */

.page {
  max-width: 1440px;
  min-width: 1100px;
  margin: 0 auto;
}

.container {
  padding-left: 140px;
  padding-right: 140px;
}

.title {
  margin: 0;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 700;
}

.btn {
  display: inline-block;
  width: 33px;
  height: 33px;
}

.paragraph {
  font-family: "Montserrat";
  margin: 0;
  line-height: 1.4;
}
/* ----------------Header styles---------------- */

.header {
  padding-top: 47px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: #f0f5fb;
}

.header__background {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 50px;
  left: 29px;
  width: 1385px;
  height: 652px;
  background: url(../images/header-icons.svg) no-repeat;
  background-size: contain;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  display: flex;
  list-style: none;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  font-family: "Montserrat";
  text-decoration: none;
  line-height: 20px;
  color: black;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 112px;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__schedule {
  padding-right: 40px;
  text-decoration: underline;
  font-family: "Montserrat";
  line-height: 20px;
}

.contact {
  padding-top: 7px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
}

.contact__icon {
  padding-right: 16px;
  background: url(../images/phone.svg) no-repeat left center;
  filter: drop-shadow(0px 3px 2px rgba(245, 134, 86, 0.5));
}

/* ----------------Hero styles---------------- */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 740px;
  background-color: #f0f5fb;
}

.hero__title {
  z-index: 1;
  margin-top: 105px;
  margin-bottom: 18px;
}

.hero__subtitle {
  z-index: 1;
  width: 621px;
  text-align: center;
  font-size: 18px;
}

.hero__pizza {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  left: 252px;
  bottom: -99px;
  width: 996px;
  height: 590px;
  background: url(../images/pizza.png) no-repeat bottom center;
  background-size: cover;
}

.hero__flour {
  position: absolute;
  pointer-events: none;
  left: 112px;
  bottom: 0;
  width: 719px;
  height: 772px;
  background: url(../images/flour.png) no-repeat top;
  mix-blend-mode: screen;
  background-size: cover;
}

.hero__offer {
  position: absolute;
  z-index: 2;
  top: 342px;
  right: 141px;
  width: 415px;
  height: 104px;
  background: url(../images/arrow.svg) no-repeat top 26px left 44px;
}

.hero__offer-text {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 200px;
  text-align: right;
}

.hero__accent {
  font-weight: 700;
  color: #f87848;
}

.btn_type_hero {
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../images/btn.svg) no-repeat left center;
  filter: drop-shadow(0px 3px 4px rgba(205, 169, 41, 0.26));
}

/* ----------------Dishes styles---------------- */

.dishes {
  position: relative;
  padding-top: 140px;
  text-align: center;
  background: url(../images/dishes-icons.svg) no-repeat top 160px center;
}

.basket {
  position: absolute;
  top: 21px;
  right: 15px;
  width: 308px;
  height: 166px;
}

.dishes__tabs {
  padding-top: 49px;
}

.ui-widget-content {
  border: none;
}

.ui-tabs-nav {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  width: 829px;
  list-style: none;
}

.ui-tabs-anchor {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  width: 135px;
  border-radius: 45px;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
  color: black;
  background-color: #eceef6;
}

.ui-state-active .ui-tabs-anchor {
  background-color: #59aaf1;
  color: white;
}

.ui-state-hover .ui-tabs-anchor {
  background-color: #59aaf1;
  color: white;
}

.ui-state-active,
.ui-state-focus {
  outline: transparent;
}

.dishes__table {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.dishes__cell {
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 260px;
  height: 425px;
  font-family: "Montserrat";
  background: url(../images/border.svg) no-repeat top center;
  background-size: contain;
}

.cell__content {
  padding-left: 25px;
  padding-right: 15px;
}

.cell__pic {
  padding-top: 36px;
  padding-bottom: 30px;
  width: 170px;
  filter: drop-shadow(20px 10px 20px rgba(143, 92, 32, 0.1))
    drop-shadow(10px 5px 10px rgba(143, 92, 32, 0.1));
}

.cell__title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cell__title {
  margin: 0;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 800;
}
.cell__subtitle {
  margin: 0;
  text-align: left;
  font-size: 12px;
  line-height: 1.4;
}
.cell__size {
  font-size: 12px;
}
.cell__price {
  padding-bottom: 18px;
  font-size: 24px;
  font-weight: 300;
}
.btn_type_to-basket {
  margin-bottom: 18px;
  cursor: pointer;
  border-style: none;
  border-radius: 50%;
  background: url(../images/to-basket-btn.svg) no-repeat;
  /* filter: drop-shadow(0px 3px 4px rgba(205, 71, 41, 0.26)); */
}

.btn_type_more {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background: url(../images/more.svg) no-repeat;
  filter: drop-shadow(0px 4px 8px rgba(205, 169, 41, 0.26));
}

/* ----------------IG styles---------------- */

.ig {
  position: relative;
  padding-top: 103px;
  padding-bottom: 127px;
}

.ig__background {
  display: flex;
  justify-content: space-between;
}

.ig__pic {
  width: 260px;
  height: 260px;
}

.ig__pic_num_1 {
  flex-basis: 100px;
  background: url(../images/ig-pic1.png) no-repeat left center;
}

.ig__pic_num_2 {
  background: url(../images/ig-pic2.png) no-repeat left center;
}

.ig__pic_num_3 {
  background: url(../images/ig-pic3.png) no-repeat left center;
}

.ig__pic_num_4 {
  background: url(../images/ig-pic4.png) no-repeat left center;
}

.ig__pic_num_5 {
  background: url(../images/ig-pic5.png) no-repeat left center;
}

.ig__pic_num_6 {
  flex-basis: 100px;
  background: url(../images/ig-pic6.png) no-repeat left center;
}

.ig__link-wrap {
  position: absolute;
  left: 50%;
  top: 143px;
  transform: translate(-50%);
  width: 480px;
}

.ig__link {
  padding-top: 75px;
  padding-bottom: 75px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  background: linear-gradient(45.04deg, #fd9924 -51.05%, #f65b16 134.89%);
  box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2),
    0px 35px 50px rgba(253, 55, 36, 0.2), 0px 20px 25px rgba(253, 55, 36, 0.2);
  border-radius: 15px;
  color: white;
}

.ig__link-border {
  position: absolute;
  pointer-events: none;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.ig__link-accent {
  font-weight: 700;
}

/* ----------------Call styles---------------- */

.call {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 575px;
  background-color: #f0f5fb;
}
.call__title {
  padding-top: 82px;
  padding-bottom: 42px;
  max-width: 960px;
  text-align: center;
  line-height: 72px;
}
.call__form {
}
.form {
}
.input {
  padding: 0;
  box-sizing: border-box;
  margin-right: 40px;
  padding-left: 32px;
  font-size: 14px;
  border: 2px solid #eceef7;
  color: #222;
}
.form__name {
}
.form__phone {
}
.form__btn {
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background: linear-gradient(180deg, #fe5626 0%, #f23f0e 100%), #59aaf1;
  box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
  color: white;
}
.form__item {
  width: 260px;
  height: 60px;
  font-family: "Montserrat";
  border-radius: 59px;
}

.call__background {
  position: absolute;
  top: 108px;
  pointer-events: none;
  width: 100%;
  height: 535px;
  background: url(../images/call_background.png) no-repeat top center;
}

.footer {
  height: 150px;
}
